body header {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #264653;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
}

.navigation,
.social {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.navigation a,
.social a {
  color: #e76f51;
  text-decoration: none;
}

.navigation h1 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.navigation ul,
.social ul {
  width: 300px;
  justify-content: space-evenly;
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation ul li,
.social ul li {
  font-size: 18px;
  list-style-type: none;
}

.navigation ul li:hover,
.social ul li:hover {
  cursor: pointer;
}

.social li a:hover {
  color: white;
}

@media (max-width: 768px) {
  body header {
    padding: 0px;
    justify-content: center;
  }

  .navigation h1 {
    display: none;
  }
}