.intro {
  display: flex;
  background-color: #2a9d8f;
}

.me-wrapper {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  border: 3px solid black;
}

.greeting {
  /* padding-top: 80px; */
  /* padding-left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  text-align: left;
  font-size: 2rem;
}

.greeting p:first-child {
  font-weight: bold;
  font-size: 32px;
}

.greeting p {
  margin-bottom: 20px;
  font-size: 26px;
}

.greeting a {
  text-decoration: none;
  color: #e76f51;
  font-weight: bold;
}

.greeting a:hover {
  color: white;
}

.plinko {
  display: flex;
  flex-direction: row;
  background-color: #e9c46a;
}

.description {
  padding-left: 100px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex-grow: 2;
}

.description p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 32px;
}

.description p {
  margin-bottom: 20px;
  font-size: 26px;
}

.gameplay-wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.gameplay {
  max-width: 350px;
  max-height: 350px;
  border: 3px solid white;
}

.case-study {
  border: 1px solid #264653;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: #264653;
}

.case-study:hover {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: #e76f51;
}

.miscellaneous {
  display: flex;
  flex-direction: row;
  background-color: grey;
  height: 500px;
}

.other-projects,
.technology {
  flex-grow: 2;
  background-color: #f4a261;
}

.other-projects {
}

.technology {
}