.intro {
  display: flex;
  background-color: #2a9d8f;
}

.me-wrapper {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  border: 3px solid black;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  text-align: left;
  font-size: 2rem;
  padding: 0 20px;
}

.greeting p:first-child {
  font-weight: bold;
  font-size: 32px;
}

.greeting p {
  margin-bottom: 20px;
  font-size: 26px;
}

.greeting a {
  text-decoration: none;
  color: #e76f51;
  font-weight: bold;
}

.greeting a:hover {
  color: white;
}

.plinko {
  display: flex;
  flex-direction: row;
  background-color: #e9c46a;
  padding-right: 10px;
}

.description {
  padding-left: 100px;
  padding-right: 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex-grow: 2;
}

.description p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 32px;
}

.description p {
  margin-bottom: 20px;
  font-size: 26px;
}

.gameplay-wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.gameplay {
  max-width: 350px;
  max-height: 350px;
  border: 3px solid white;
}

.case-study {
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: #e9c46a;
  font-size: 1.5rem;
  background-color: #264653;
}

.case-study:hover {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #e76f51;
}

.miscellaneous {
  display: flex;
  flex-direction: row;
  background-color: grey;
  height: 500px;
}

.other-projects,
.technology {
  flex-grow: 2;
  background-color: #f4a261;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .me-wrapper,
  .gameplay-wrapper {
    height: 300px;
    width: 300px;
  }

  .gameplay-wrapper {
    display: flex;
    justify-content: center;
  }

  .me,
  .gameplay {
    max-width: 250px;
    max-height: 250px;
  }

  .greeting,
  .description {
    padding: 0px 200px;
    text-align: justify;
  }

  .greeting p:first-child,
  .description p:first-child {
    font-size: 26px;
  }

  .greeting p,
  .description p {
    font-size: 22px;
  }

  .plinko {
    padding: 0px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 648px) {
  .greeting,
  .description {
    padding: 0 175px;
  }

  .greeting p:first-child,
  .description p:first-child {
    font-size: 22px;
  }

  .greeting p,
  .description p {
    font-size: 20px;
  }

  .me-wrapper,
  .gameplay-wrapper {
    height: 225px;
    width: 2250px;
  }

  .me,
  .gameplay {
    max-width: 200px;
    max-height: 200px;
  }
}