.projects-container {
  display: flex;
  justify-content: center;
}

.projects {
  width: 600px;
  margin-top: 32px;
}

.projects li {
  list-style: none;
}

.project {
  padding: 32px 0px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
}

.project h3 {
  font: bold 28px "Open Sans";
}

.project h3 a {
  text-decoration: none;
  color: black;
}

.project h3 a:hover {
  color: #127199;
}

.project p {
  margin-top: 20px;
  font: normal 16px "Merriweather";
  color: #2e2e2e;
  line-height: 28px;
  letter-spacing: 0.16px;
}

.project-image img {
  padding-top: 10px;
  width: 200px;
  height: auto;
}

.project-description {
  padding-left: 30px;
}
